views/*
!views/app.gravity.phtml
!views/404.gravity.phtml

public/gravity-js/components/*.js
public/gravity-js/config/*.js

app/http/Controllers/*
app/http/Models/*

routes/*.php

*.md
!readme.md
!.gitignore
.env
!.env-example

vendor/**/